{% extends "index.html" %}
{% load static %}

{% block body %}

<div class="containerfaqzao">
      <div class="headerfaqzao">

            <!-- variavel nome -->
          <h1>Carlos Ribeiro</h1>

          <!-- variavel curso -->
          <p>Dev. Sistemas</p>
      </div>
      <div class="contentfaqzao">
          <div class="image-containerfaqzao">

            <!-- imagem sala -->
              <img src="https://via.placeholder.com/600x300" alt="Image">
          </div>
          <div class="details-containerfaqzao">
              <div class="details-cardfaqzao">

                  <!-- detalhes da sala -->
                  <p><strong>Corredor C</strong></p>
                  <h5>Sala C13</h5>
                  <ul>
                      <li>40 Mesas Individuais</li>
                      <li>40 Notebooks</li>
                      <li>Lousa Branca</li>
                      <li>Projetor de Vídeo</li>
                  </ul>

                  
                  <button>delect
                  </button>
              </div>
              <div class="details-cardfaqzao">
                  <h5>Agendado <span>para hoje</span></h5>
                  <ul>
                      <li>13h até 17h</li>
                      <li>05/10/2024</li>
                  </ul>
                  <button>edit</button>
              </div>
          </div>
      </div>
  </div>

{% endblock %}